<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon" />
	<title>SMARTCARD</title>
	<link rel="stylesheet" type="text/css" href="css/util.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/usershow.css" />
	<link rel="stylesheet" href="/font/font-awesome-4.7.0/css/font-awesome.min.css" />
	<script src="/js/jquery-3.6.4.js"></script>
</head>

<body style="<%= datauser.colortheme %>" id="color">
	<div class="content-show">
		<div class="avatar">
			<img src="<%= datauser.avatar %>" alt="" />
		</div>
		<div class="name">
			<p id="name">
				<%= datauser.name2 %>
			</p>
		</div>
		<p class="bio">
			<%= datauser.bio %>
		</p>
		<div class="action">
			<button onclick="call()">
				<i class="fa fa-phone fa-2x"></i>
			</button>
			<button onclick="email()"><i class="fa fa-envelope fa-2x"></i></button>
		</div>
		<script>
			$(".action")
				.children("button")
				.css({ color: document.body.style.color });
			function call() {
				const phoneNumber = "<%= datauser.phone %>";
				window.location.href = `tel:${phoneNumber}`;
			}

			function email() {
				const email = "<%= datauser.email %>";
				window.location.href = `mailto:${email}`;
			}
		</script>
		<h2>CONNECT</h2>
		<div class="link">
			<% if (datauser.link!="" ) { %>
				<% for(let i=0; i < datauser.link.linktype.length; i++) { %>
					<div class="wrap" onclick="openlink('<%= datauser.link.linktype[i] %>','<%= datauser.link.inputlink[i] %>')">
						<img src="image/userinfo/<%= datauser.link.linktype[i].toLowerCase() %>.png" alt="" />
						<p id="link">
							<%= datauser.link.inputtitle[i] %>
						</p>
					</div>
					<% } %>
						<% } %>
							<script>
								function openlink(linktype,link) {
									if (linktype=="Gmail") {
										// window.open(`https://mail.google.com/mail/?view=cm&fs=1&to=${link}`);
										window.location.href = `mailto:${link}`
									}
									else if (linktype=="Zalo") {
										window.open(`http://zalo.me/${link}`)
										// window.location.href='zalo://chat'
										// window.location.href= "intent://instagram.com/#Intent;scheme=http;package=com.instagram.android;end"; 		
									}
									else if (linktype=="WhatsApp") {
										window.open(`https://wa.me/${link}`)
									}
									else if (linktype=="Momo") {
										// window.open(`https://page.momoapp.vn/tfDDP2TENsk`)
										window.open(`https://nhantien.momo.vn/${link}`)
									}
									else window.open(link);

								}
							</script>
		</div>
	</div>
	<footer>
		<img src="image/index/logo.png" alt="" />
	</footer>
</body>

</html>